:root {
    --color-white: whitesmoke;
    --color-primary: orangered;
    --color-black: black;
}

* {
    color: var(--color-black);
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Clash Display', sans-serif;
    background-color: var(--color-primary);
}

::selection {
    color: var(--color-white);
}

/* WHITESPACE */
.whitespace-container {
    z-index: 1;
    position: sticky;
    top: 0;
    height: 4vh;
    width: 100vw;
    background-color: var(--color-white);
}

/* NAVBAR */
.navbar-container {
    z-index: 1;
    position: fixed;
    height: 5vh;
    width: 100vw;
    bottom: 0px;
    background-color: rgb(54, 54, 54);
}

.navbar-items-container a {
    float: right;
    font-size: 1.2rem;
    background-color: var(--color-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navbar-items-container a:first-child {
    padding-right: 3rem;
}

.navbar-items-container a:hover{
    transition-duration: 1s;
    color: var(--color-white);
    background-color: var(--color-primary);
    transition-duration: 0.8;
}

/* DISPLAY PICTURE */
.display-picture {
    /* max-width: 580px;
    max-height: 865px; */
    width: 40vw;
    position: fixed;
    right: 0px;
    top: -9rem;
    pointer-events: none;
}

/* HOME */
.home-container,
.education-container,
.skills-container,
.contact-container {
    margin-bottom: 20vw;
    width: 60vw;
    position: static;
}

.home-items-container,
.title-container, 
.education-card-container,
.skills-card-container {
    margin: 2rem;
    padding: 2rem;
    border: solid 10px var(--color-white);
    display: flex;
    flex-direction: column;
}

.home-items-container,
.title-container {
    /* TODO */
    margin-right: 5rem;
}

.home-title-japanese {
    font-weight: 500;
    font-size: 2rem;
}

.home-title-chinese {
    font-weight: 500;
    font-size: 3rem;
}

.home-title-english-first,
.home-title-english-last {
    font-weight: 500;
    font-size: 5rem;
}

.sgEmoji {
    animation: blinkingEmoji 2s linear infinite;
}

@keyframes blinkingEmoji {
    50% {
        opacity: 0.2;
    }
}

/* EDUCATION */
.title-container {
    font-weight: 500;
    font-size: 5rem;
}

.education-title,
.skills-title {
    font-weight: 400;
    font-size: 3rem;
    
}

.education-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.education-type,
.skills-type {
    color: white;
    margin-top: -3rem;
}

.education-description-hr {
    text-align: center;
}

.lni {
    font-size: 5rem;
}

/* SKILLS */
.skills-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.skills-row-card-container {
    display: flex;
    flex-direction: column;
}

.skills-type {
    /* border-radius: 50%;     */
    animation: blinkingDisplayPicture 5s ease-in-out infinite;
}
@keyframes blinkingDisplayPicture {
    0% {
        box-shadow: 0 -5px 5px 5px var(--color-white);
    }
    25% {
        box-shadow: none;
    }
    75% {
        box-shadow: 0 5px 5px 5px var(--color-white);
    }
    100% {
        box-shadow: 0 -5px 5px 5px var(--color-white);
    }
}


/* CONTACTS */
.contact-container-hyperlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fa-brands {
    font-size: 4rem;
    margin: 2rem;
}

.fa-brands:hover {
    transition: 0.5s;
    color: var(--color-white);
}

/* Media Queries */
@media screen and (max-width: 1220px) {
    /* HOME */
    .home-display-picture {
        margin: 20%;
        display: flex;
        justify-content: center;
    }
    .display-picture {
        margin-top: -40vh;
        position: static;
    }

    .home-items-container,
    .title-container {
        margin-right: 2rem;
    }

    /* EDUCATION */
    .home-container,
    .education-container,
    .skills-container,
    .contact-container {
        margin-bottom: 20vw;
        width: 100vw;
        position: static;
    }

    /* SKILLS */
    .skills-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1050px) {
    .display-picture {
        margin-top: -30vh;
        position: static;
    }
}

@media screen and (max-width: 870px) {
    .display-picture {
        margin-top: -20vh;
        position: static;
    }

    .education-cards-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .display-picture {
        margin-top: -20vh;
        position: static;
    }
    
    .home-title-english-last {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .display-picture {
        margin-top: -15vh;
        position: static;
    }

    .home-title-english-first,
    .home-title-english-last {
        font-weight: 500;
        font-size: 4rem;
    }

    .home-title-japanese {
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    .home-title-chinese {
        font-weight: 500;
        font-size: 2rem;
    }
    
    .title-container {
        font-weight: 500;
        font-size: 4rem;
    }
    
    .education-title,
    .skills-title {
        font-weight: 400;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 460px) {
    .home-title-english-first,
    .home-title-english-last {
        font-weight: 500;
        font-size: 4rem;
    }

    .title-container {
        font-weight: 500;
        font-size: 3rem;
    }
    
    .education-title {
        font-weight: 400;
        font-size: 2rem;
    }

    .skills-title {
        font-weight: 400;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 380px) {
    .home-title-english-first,
    .home-title-english-last {
        font-weight: 500;
        font-size: 3rem;
    }

    .title-container {
        font-weight: 500;
        font-size: 2.5rem;
    }
    
    .education-title {
        font-weight: 400;
        font-size: 2rem;
    }

    .skills-title {
        font-weight: 400;
        font-size: 1.5rem;
    }
}
